# Global ignores
.DS_Store
node_modules


# clickcrate-program specific ignores
clickcrate-program/.anchor
clickcrate-program/target
clickcrate-program/node_modules
clickcrate-program/test-ledger
clickcrate-program/.yarn